.container1 {
  display: grid;
  grid-template-rows: repeat(7, 270);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  background-color: #FFF4DE;
}

img {
width: auto;
height: auto;
}

.item-11 {
grid-area: 1/2/4/4;
}

.item-12 {
 grid-area: 4/1/6/3;
 box-align: center;
}

.item-13 {
 grid-area: 4/3/6/5;
 box-align: center;
}

.center-1 {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.responsive {
width: 100%;
height: auto;
}

.titul-stiepj {
  width:100%;
  height: 100%;
}

.aligncenter {
text-align: center;
}

@font-face {
font-family: "Villagers-Rough";
src: url(Fonts/Villagers-Rough.otf)  format("opentype");
}

@font-face {
font-family: "Display-Fair";
src: url(Fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

div {
font-family: "Display-Fair";
font-weight: bold;
}

.font-Display-Fair {
font-family: "truetype";
}

.center {
box-align: center;
}